{{include head.html}}
  <body>
    <div id="content">
      <header>
        <h1>Contact</h1>
      </header>
      <p>
        If you’d like to drop me a line,
        you can reach me at my first name at aminb dot org.
        I read all of my email.
        If you like to be flagged by a few three or four-letter agencies,
        you can encrypt your message using
        <a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0x4E05246AB0BF7FFB">my key</a>.
        You can also find me on irc: I'm <span class="red">aminb</span> on freenode and mozilla irc.
      </p>
      <nav class="smcp">
        <a href="/">About</a>
        <a href="/writing">Writing</a>
        <a href="https://github.com/aminb">GitHub</a>
      </nav>
    </div>
  </body>
</html>
