{{include head.html}}
  <body>
    <div id="content">
      <header>
        <h1>Amin Bandali</h1>
      </header>
      <p>
        Hi, I am Amin.
        I'm a Computer Scientist striving to make software more reliable through use
        of <strong>formal methods</strong>. I’m currently an undergraduate student at York University.
        My research interests are programming languages, type systems, and formal methods.
        I love functional programming.
      </p>
      <nav class="smcp">
        <a href="/writing">Writing</a>
        <a href="/resume.pdf">Resume</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
  </body>
</html>
